.image
  +vertical-padding(2)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

  &.is-hero
    margin-top: 50px
    background-image: image-url('nexive_background.jpg')

  &.is-digitale
    background-image: image-url('digitale-bg.jpg')

  &.is-info
    background-color: $beige

  &.is-slim
    background-image: image-url('slim.jpg')

  &.is-close
    background-size: cover
    +vertical-padding(10)
    background-image: image-url('naxive-big.png')
    margin-bottom: -60px

    +at-breakpoint(desk)
      +vertical-padding(15)

.image__body
  width: 100%

.image__border
  text-align: left
  height: 0.7rem
  background-image: image-url('ltr.svg')
  background-repeat: no-repeat
  background-position: center left
  +margin-bottom(0.8)

  +at-breakpoint(lap)
    height: 0.8rem
    background-image: image-url('rtl.svg')
    text-align: right
    background-position: center right

.image__border--right
  border-left: none
  +margin-left(0)

  +at-breakpoint(desk)
    border-left: 1px $light-body-color dotted
    +margin-left(1)

.image__title
  +heading-font-family
  +font-size(beta)
  +padding-bottom(1)
  text-align: left

  +at-breakpoint(lap)
    text-align: right

  &.is-hero
    color: white
    +light-font-family

  &.is-digitale
    color: orange
    +heading-font-family

    span.is-blue
      color: $blue

  &.is-raccomandata
    color: orange
    +heading-font-family
    +font-size(epsilon)
    text-align: left
    +margin-top(3)
    +margin-bottom(3)

    +at-breakpoint(desk)
      +margin-top(0)
      +margin-bottom(0)

.image__title--rev
  @extend .image__title
  text-align: left
  color: $light-body-color
  +light-font-family
  +margin-bottom(3)

  +at-breakpoint(lap)
    text-align: left
    +margin-bottom(0)

  h2
    span.title
      border-bottom: 1px $light-body-color solid

  strong.is-orange
    +heading-font-family
    color: $orange

  strong.is-blue
    +heading-font-family
    color: $blue

  +at-breakpoint(lap)
    text-align: left

.image__subtitle
  +heading-font-family
  color: white
  +font-size(gamma)
  text-align: left

  +at-breakpoint(lap)
    text-align: right

  &.is-hero
    color: $orange

  &.is-digitale
    +light-font-family
    color: white

.image__grid
  +padding-top(5)

.image__grid--no-padding-top
  +padding-top(0)

  &.is-hero
    +margin-top(1)

    +at-breakpoint(lap)
      +margin-top(-15)

.image__grid--center
  text-align: left

  +at-breakpoint(desk)
    text-align: center

.image__slim

.image__slim--title

  h2
    +heading-font-family
    +font-size(alpha)

  h3
    +heading-font-family
    +font-size(delta)

  span.border__bottom
    border-bottom: 1px $blue solid

  span.is-orange
    color: $orange

  span.is-blue
    color: $blue
