= partial "partials/hero"
= partial "partials/company"
= partial "partials/video"
= partial "partials/online"
= partial "partials/revolution"
= partial "partials/info"
= partial "partials/formula"
/= partial "partials/video-formula"
= partial "partials/slim"
= partial "partials/nexive"
